<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
</head>



<ul>
    <li><a href="/operaciones-vector">Operaciones con Vectores</a></li>
    <li><a href="/movimiento-proyectil">Movimiento de Proyectil</a></li>
    <li><a href="/momento">Momento</a></li>
    <li><a href="/plano-inclinado">Plano inclinado</a></li>
    <li><a href="/potencial-electrico">Potencial electrico</a></li>
</ul>