{% extends 'base.html' %}


{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
{{ script | safe}}
{% endblock %}


{% block content %}



<div class="container">
    <h3>Potencial Electrico</h3>
    <form action="" method="POST"> {{form.csrf_token}}
    
       <div class="row">
            <div class="three columns">
                 <label for="name">Carga</label>
            </div>
           <div class="three columns">
                <label for="charge_x">Coordenada en X</label>
                {{form.charge_x}}
           </div>
           <div class="three columns">
                <label for="charge_y">Coordenada en Y</label>
                {{form.charge_y}}
           </div>
           <div class="three columns">
                <label for="charge">Carga</label>
                {{form.charge}}
           </div>
       </div> 
       
       <div class="row">
            <div class="three columns">
               <label for="name">Coordenadas</label>
            </div>
            <div class="three columns">
               <label for="x">Coordenada en X</label>
               {{form.x}}
            </div>
            <div class="three columns">
               <label for="y">Coordenada en Y</label>
               {{form.y}}
            </div>
            <div class="three columns">
                 <input type="submit" class="button-primary center_button" value="Calcular" id="calc_button">
            </div>
       </div>

       <div class="alert">
            <p>Carga Electrica: {{result}} J/C</p>
       </div>

       {{ div | safe}}
        
</div>



{% endblock %}