{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
{{ script | safe}}
{% endblock %}

{% block content %}
<div class="container">
    <h3>Planos inclinados</h3>

    <form action="" method="POST"> {{form.csrf_token}}
        <div class="row">
            <div class="three columns">
                <label for="mass">Masa</label>
                {{form.mass}}
            </div>
            <div class="three columns">
                <label for="degree">Angulo</label>
                {{form.degree}}
            </div>
            <div class="three columns">
                <input class="button-primary center_button" type="submit" value="Calcular" id="calc_button">
            </div>
        </div>

        <div class="alert">
            <p class="parameter"> Normal: {{result.normal|round(4, 'floor')}} N</p>
                <p class="parameter">Aceleracion: {{result.acceleration|round(4, 'floor')}} m/s<sub>2</sub></p>
        </div>

        {{ div | safe}}
</div>
{% endblock %}