{% extends 'base.html' %}


{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
{{ script | safe}}
{% endblock %}


{% block content %}



<div class="container">
    <h3>Momento</h3>
    <form action="" method="POST"> {{form.csrf_token}}
    
    <div class="row">
        <div class="two columns">
            <label for="">Formato de vector</label>
            {{form.vector_input}}
        </div>
    </div>


    <div class="row">
        <div class="two columns">
            <label for="" class="center_label">Vector 1</label>
        </div>

            
        <div class="three columns">
            <label for="">Componente i</label>
            {{form.vector1_i}}
        </div>

        <div class="three columns">
            <label for="">Componente j</label>
            {{form.vector1_j}}
        </div>

        <div class="three columns">
            <label for="">Magnitud</label>
            {{form.vector1_magnitude}}
        </div>

        <div class="three columns">
            <label for="">Angulo</label>
            {{form.vector1_degree}}
        </div>

        <div class="three columns">
            <label for="">Distancia en la palanca</label>
            {{form.vector1_distance}}
        </div>
       
       
    </div>

    <div class="row">
        <div class="two columns">
            <label for="" class="center_label">Vector 1</label>
        </div>

            
        <div class="three columns">
            <label for="">Componente i</label>
            {{form.vector2_i}}
        </div>

        <div class="three columns">
            <label for="">Componente j</label>
            {{form.vector2_j}}
        </div>

        <div class="three columns">
            <label for="">Magnitud</label>
            {{form.vector2_magnitude}}
        </div>

        <div class="three columns">
            <label for="">Angulo</label>
            {{form.vector2_degree}}
        </div>

        <div class="three columns">
            <label for="">Distancia en la palanca</label>
            {{form.vector2_distance}}
        </div>
    </div>


    <div class="row">
        <div class="two columns">
            <label for="" class="center_label">Palanca</label>
        </div>

        <div class="three columns">
            <label for="">Longitud</label>
            {{form.lever_length}}
        </div>

        <div class="three columns">
            <label for="">Angulo</label>
            {{form.lever_degree}}
        </div>

    </div>

    <div class="row">
        <div class="three columns">
            <input class="button-primary center_button" type="submit" value="Calcular" id="calc_button">
        </div>
    </div>

       <div class="alert">
            {{result}}
        </div>
        
        {{ div | safe}}
</div>



{% endblock %}