{% extends 'base.html' %}


{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
{{ script | safe}}
{% endblock %}


{% block content %}



<div class="container">
    <h3>Movimiento de proyectiles</h3>
    <form action="" method="POST"> {{form.csrf_token}}
    
       <div class="row">
           <div class="three columns">
                <label for="intial_velocity">Velocidad inicial</label>
                {{form.initial_velocity}}
           </div>
           <div class="three columns">
                <label for="exit_degree">Angulo de salida</label>
                {{form.exit_degree}}
           </div>
           <div class="three columns">
                <input class="button-primary center_button" type="submit" value="Calcular" id="calc_button">
           </div>
       </div> 
       

       <div class="alert">
            {% for parameter in result %}
            <p class="parameter">{{parameter}}</p>
            {% endfor %}
        </div>
        
        {{ div | safe}}
</div>



{% endblock %}