{% extends 'base.html' %}



{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
{% endblock %}



{% block content %}
<div class="container">
    <h3>Operaciones de vectores</h3>

    <!-- <select name="Operacion" id="">
        <option value="Vector por compenentes">Vector por componentes</option>
        <option value="Vector">Vector</option>
    </select> -->


    <form action="" method="POST"> {{form.csrf_token}}

        <!-- Vector 1 -->

        <div class="row">
            <div class="two columns">
                <label class="center_label" for="vector 1">Vector 1</label>
            </div>
            
            <div class="three columns">
                <label for="icomponent">Componente i</label>
                {{form.vec1_i}}
            </div>
            <div class="three columns">
                <label for="jcomponent">Componente j</label>
                {{form.vec1_j}}
            </div>
            <div class="three columns">
                <label for="kcomponent">Componente k</label>
                {{form.vec1_k}}
            </div>
        </div>





        <!-- Vector 2-->
        <div class="row">
                <div class="two columns">
                    <label class="center_label" for="vector 1">Vector 1</label>
                </div>
                
                <div class="three columns">
                    <label for="icomponent">Componente i</label>
                    {{form.vec2_i}}
                </div>
                <div class="three columns">
                    <label for="jcomponent">Componente j</label>
                    {{form.vec2_j}}
                </div>
                <div class="three columns">
                    <label for="kcomponent">Componente k</label>
                    {{form.vec2_k}}
                </div>
            </div>


            
        <!-- operation select -->

        <div class="row operation">
                <label for="Operation" style="float: left; padding: 1% 2% 0% 0%;">Operacion</label>
                {{form.operations}}
                <input class="button-primary" type="submit" value="Calcular" id="calc_button" style="margin-left: 6%;">
            </div>

        <div class="row">

            <div class="alert">
                {{ result }}
            </div>
        </div>
</div>


{% endblock %}