
.alert{
    background: green;
    padding: 1%;
    border-radius: 5px;
    color: white;
    margin: 1px;
    font-size: 120%;
}

.center_label{
    padding: 28% 0% 25% 0%;
}

.operation{
    margin-left: 28%;
}

.center_button{
   margin-top: 14%;
}

.parameter{
    margin-bottom: 0px;
}

sub {
    vertical-align: 50%;
    font-size: smaller;
  }